*{
    padding: 0;
    margin: 0;
}
section{
    background-color:  dimgray;

}
.about01{
  margin: 30px;
  padding: 5px;
}
.about01 h1{
    text-align: center;
    color: black;
    font-weight: bold;
}
.about01 p{
    text-align: center;
    padding: 3px;
    color: #0d0000;
}
.about-item{
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: white;
    padding: 80px, 30px;
    box-shadow: 0 0 9px rgba(0, 0, 0, .6);
}
.about-item i{
    font-size: 43px;
    margin: 0;
}

.about-item h3{
    font-size: 25px;
    margin-bottom: 10px;
}
.about-item hr{
    width: 46px;
    height: 3px;
    background-color: #5fbff9;
    margin: 0 auto;
    border: nome;
}
.about-item p{
    margin-top: 20px;

}
.about-item :hover{
    background-color: blueviolet;
}
.about-item:hover i,
.about-item:hover h3,
.about-item:hover p{
    color: #fff;
}
.about-item:hover hr{
    background-color: #fff;
}
.about-item:hover i{
    transform: translateY(-20);
}
.about-item:hover i,
.about-item:hover h3,
.about-item:hover hr{
    transition: all 400ms ease-in-out;
}